@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #37474f;
}

.container {
  height: 400px;
  color: #ffffff;
  background-color: #232931;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

.left-info {
  display: flex;
  justify-content: center;
  float: left;
  width: 260px;
  height: 100%;
  background: url(images/1.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  transform: scale(1.03) perspective(200px);
  transition: all 0.3s ease;
  cursor: pointer;

  .pic-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
    border-radius: 25px;
    opacity: 0.5;
  }

  .today-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .today-weather {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .bx {
      font-size: 4.6rem;
    }
    .weather-temp {
      font-size: 3.5rem;
      font-weight: 700;
    }
  }

  &:hover {
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
  }
}

.right-info {
  position: relative;
  float: right;
  height: 100%;
  padding-top: 25px;

  .day-info {
    display: flex;
    flex-direction: column;
    padding: 25px 35px;

    div {
      .title {
        font-weight: 700;
      }

      .value {
        float: right;
      }

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  .days-list {
    display: flex;
    margin: 10px 35px;
    list-style: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      border-radius: 10px;
      transition: all 0.3s ease;
      cursor: pointer;

      .bx {
        margin-bottom: 5px;
        font-size: 2rem;
      }
      .day-temp {
        margin-top: 6px;
        font-weight: 700;
      }

      &:hover {
        color: #222831;
        background: #ffffff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        transform: scale(1.1);
      }
    }
  }

  .btn-container {
    padding: 25px 35px;

    .loc-button {
      width: 100%;
      padding: 10px;
      color: #ffffff;
      font-weight: 700;
      background: #303f9f;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
      border: none;
      border-radius: 25px;
      outline: none;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background: #1a237e;
      }
    }
  }
}
