@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #252954;
}

.main {
  position: relative;
  padding: 0 88px;
  overflow-x: hidden;
  background-color: #221f2f;

  &::before {
    position: absolute;
    top: 20%;
    left: 55%;
    width: 120px;
    height: 120px;
    content: "";
    background-color: #ed2ff0;
    filter: blur(90px);
  }
  &::after {
    position: absolute;
    top: 44%;
    left: 80%;
    width: 120px;
    height: 120px;
    content: "";
    background-color: #22a8cd;
    filter: blur(90px);
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  .logo {
    font-size: 32px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
  }

  .nav-links .item {
    color: #cccccc;
    font-size: 13px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.selected {
      -webkit-text-fill-color: transparent;
      background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
      background-clip: text;
      border-bottom: 1px solid #7e22ce;
    }
  }

  .nav-buttons {
    .nav-btn {
      width: 90px;
      height: 40px;
      color: #cccccc;
      font-size: 12px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &.selected {
        border: 1px solid #cccccc;
        border-radius: 8px;
      }
    }

    &.active {
      transition: all 0.3s ease;
      opacity: 1;
    }
  }

  .toggler {
    display: none;
    color: #c5c3c3;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;

  @keyframes toRight {
    from {
      transform: translateX(-700px);
    }
    to {
      transform: translateX(0);
    }
  }
  .info-box {
    max-width: 50%;
    animation: toRight 0.8s;

    .header {
      margin: 0;
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 55px;
    }
    .info-text {
      margin: 20px 0 32px;
      color: #ffffff;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.5px;
    }

    .info-buttons {
      display: flex;

      .info-btn {
        padding: 8px 38px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -1px;
        border-radius: 16px;
        cursor: pointer;

        &.selected {
          background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
          border: none;
        }
        &.nav-btn {
          margin-left: 20px;
          background-color: transparent;
          border: 1px solid #ffffff;
        }
      }
    }
  }

  @keyframes toLeft {
    from {
      transform: translateX(550px);
    }
    to {
      transform: translateX(0);
    }
  }
  .nft-box {
    padding: 16px;
    background: linear-gradient(
      170deg,
      rgba(52, 93, 129, 0.08) 1.85%,
      rgba(57, 46, 75, 0.08) 98%
    );
    border: 1px solid #000000;
    border-radius: 2rem;
    animation: toLeft 0.8s;

    .nft-pic {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }

    .nft-content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;

      @mixin style1 {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
      }
      .info {
        @include style1;

        .info-img {
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .likes {
        @include style1;

        .icon-box {
          display: flex;
          align-items: center;
          font-size: 15px;

          .bx {
            margin-right: 8px;
            font-size: 30px;
          }
        }
      }
    }
  }
}

.get-started {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;

  .header {
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    line-height: 72px;
  }
  .info-text {
    align-items: center;
    color: #cccccc;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
  }

  .items-box {
    position: relative;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    padding: 60px 80px;

    &::before {
      position: absolute;
      top: 80px;
      width: 100%;
      height: 120px;
      content: "";
      background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
      filter: blur(140px);
    }

    .item-container {
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(90px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 5px solid rgba(255, 255, 255, 0.3);
        border-radius: 2.6rem;

        .bx {
          color: #eeeeee;
          font-size: 38px;
        }
      }

      p {
        width: 100px;
        margin-top: 12px;
        color: #ffffff;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;

  .footer-header {
    max-width: 50%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }

  .footer-links {
    display: flex;

    .link {
      margin-left: 70px;

      h5 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
      }
      p {
        color: #cccccc;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.05em;
      }
    }
  }
}

.copyright {
  padding-bottom: 25px;
  border-top: 1px solid #cccccc;

  p {
    color: #afafaf;
    font-size: 12px;
    line-height: 36px;
  }
}

@media screen and (max-width: 1040px) {
  .top-container {
    flex-direction: column;

    .info-box {
      max-width: none;
      margin: 60px 0;
    }

    .nft-box {
      display: none;
    }
  }

  .footer {
    flex-direction: column;

    .footer-header {
      max-width: 80%;
      margin-bottom: 30px;
      text-align: center;
    }

    .footer-links link:first-child {
      margin: 0;
    }
  }
}
@media screen and (max-width: 925px) {
  .navbar {
    .nav-links {
      display: none;
    }
    .nav-buttons {
      opacity: 0;
    }

    .toggler {
      display: flex !important;
      align-items: center;
    }
  }

  .get-started {
    .info-text {
      text-align: center;
    }

    .items-box {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: auto auto;
      padding: 50px 0;

      &::before {
        top: 90px;
        height: 200px;
        filter: blur(120px);
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .top-container {
    margin-top: 4rem !important;

    .info-box {
      max-width: none;
      max-height: none;
      margin-bottom: 4rem;
    }

    .nft-box {
      display: block;
      max-width: none;
      max-height: none;
    }
  }
}
@media screen and (max-width: 600px) {
  .main {
    padding: 0 40px;
  }

  .footer {
    .footer-header {
      max-width: 100%;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }

    .footer-links {
      justify-content: space-between;
      width: 100%;

      .link {
        margin-left: 20px;

        h5 {
          font-size: 15px;
          line-height: 35px;
        }
        p {
          font-size: 11px;
          line-height: 18px;
        }
      }
    }
  }
}
